<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Product example · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/CorpMain.css" rel="stylesheet" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
</head>
<body>
    <div class="cssMasterPanel">
        <div class="header">
            <nav class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-4 nav-link">
                        <ul class="list-inline theme1">
                            <li>
                                <div class="list-option">
                                    <a class="" role="button" data-toggle="collapse" href="#country" aria-expanded="false" aria-controls="country">
                                        香港<i class="icon marginL"><img src="" class="svg"></i>
                                    </a>
                                    <div class="collapse select-pick countrym" id="country">
                                        <ul>
                                            <li value="0" class="selected">
                                                <a href="">
                                                    香港
                                                </a>
                                            </li>
                                            <li value="1" class="">
                                                <a href="">
                                                    中國
                                                </a>
                                            </li>
                                            <li value="2" class="">
                                                <a href="">
                                                    澳門
                                                </a>
                                            </li>
                                            <li value="3" class="">
                                                <a href="">
                                                    台灣
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list-option">
                                    <a class="" role="button" data-toggle="collapse" href="#lang" aria-expanded="false" aria-controls="lang">
                                        繁體<i class=" pull-right fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <div class="collapse select-pick langm" id="lang">
                                        <ul>
                                            <li data-rel="0" value="">
                                                <a href="">ENG</a>
                                            </li>
                                            <li data-rel="0" selected value="">
                                                <a href="">繁體</a>
                                            </li>
                                            <li data-rel="0" value="">
                                                <a href="">簡体</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="">零售地點<i class="icon marginL"><img src="" class="svg"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 logo-wrapper">
                        <a href="#"> <img class="img-thumbnail mt-0 shadow-none" src="/FancyImage/MasterShopImg.jpg" alt=""> </a>
                    </div>
                    <div class="hidden-xs col-sm-4 nav-link txt-right">
                        <ul class="list-inline theme1">
                            <li>
                                <a href="" class="text-right text-sm-right text-md-right text-lg-right text-xl-right"><i class="icon marginR"><img src="" class="svg"></i>Bookmark</a>
                            <li>
                                <div class="list-option">
                                    <a class="dropdown-toggle" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="lang" href="#sub1">會員 <i class="fa fa-angle-down" id="men-button" aria-hidden="true"></i></a>
                                    <div class="collapse select-pick-theme2 sub1" id="sub1">
                                        <ul>
                                            <li class="">
                                                <a href="\" target="">會員登入</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <nav class="site-header sticky-top py-1 nav-bg">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block text-light font-weight-bolder" href="#">Tour</a>
            <a class="py-2 d-none d-md-inline-block text-light font-weight-bolder" href="#">Product</a>
            <a class="py-2 d-none d-md-inline-block text-light font-weight-bolder" href="#">Features</a>
            <a class="py-2 d-none d-md-inline-block text-light font-weight-bolder" href="#">Enterprise</a>
            <a class="py-2 d-none d-md-inline-block text-light font-weight-bolder" href="#">Support</a>
            <a class="py-2 d-none d-md-inline-block text-light font-weight-bolder" href="#">Pricing</a>
            <a class="py-2 d-none d-md-inline-block text-light font-weight-bolder" href="#">Cart</a>
        </div>
    </nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Punny headline</h1>
            <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>


    <div>
        @RenderBody()
    </div>
    <footer class="container py-5">
        <div class="row">
            <div class="col-3 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="#">Cool stuff</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Random feature</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Team feature</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Stuff for developers</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Another one</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Last time</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="#">Resource</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Resource name</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Another resource</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Final resource</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="#">Business</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Education</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Government</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Gaming</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="#">Team</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Locations</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Privacy</a>
                    </li>
                    <li>
                        <a class="text-muted" href="#">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</body>
</html>
